@import url("../assets/fonts/TTLakes/stylesheet.css");
* {
  box-sizing: border-box;
  /* outline: 4px solid green !important; */
}
.section__catalog-swiper {
  display: none;
}
body {
  margin: 0px;
  font-family: "TT Lakes", sans-serif;
}
.section__text-tablet {
  display: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.main {
  width: 100%;
  background-color: #f8f8f8;
  display: grid;
  grid-template-columns: 21.46% 78.54%;
}

.main__aside {
  /* max-width: 306px; */
  width: 100%;
}
.main__content {
  width: 100%;
}
.section {
  width: 100%;
  padding-top: 42px;
  padding-bottom: 49px;
}
.container {
  height: 100%;
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
}
.section__container {
}
.section__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.section__row::before {
  content: "";
  width: 3px;
  height: 100%;
  background-color: #41f6d7;
  border-radius: 2.5px;
  position: absolute;
  left: -24px;
  top: 0;
}
.heading {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
}
.divider {
  background-color: #eaeaea;
  width: 2px;
  height: 32px;
}
.divider__burger {
  margin-left: 20px;
}
.divider__nav {
  margin: auto 4px;
}
.header__nav-link {
  height: 40px;
  width: 40px;
}
.header__nav-link--burger {
  background-image: url(../assets/icons/burger.svg);
}
.header__nav-link--call {
  background-image: url(../assets/icons/call.svg);
}
.header__nav-link--chat {
  background-image: url(../assets/icons/chat.svg);
}
.header__nav-link--profile {
  background-image: url(../assets/icons/profile.svg);
}
.header__nav-link--repair {
  background-image: url(../assets/icons/repair.svg);
}
.header__nav-link--checkstatus {
  background-image: url(../assets/icons/checkstatus.svg);
}

.section__heading {
  margin: 0px;
}
.section__row-nav {
  display: flex;
  align-items: center;
  gap: 32px;
}
.section__row-nav-link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: right;
  font-weight: 500;
}
.section__row-nav-link-icon {
}
.section__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 8px;
}
.section__nav-link {
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 8px 22px;
  border-radius: 5px;
  letter-spacing: -0.20000000298023224px;
}
.section__nav-link--active {
  background-color: white;
  border: 2px solid #b8ffec;
}
.section__nav-link:active {
  background-color: white;
  border: 2px solid #b8ffec;
}
.section__content {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 36px;
  margin-top: 7px;
}
.perevertish {
  transition: all 0.5s;
  rotate: 540deg;
}
.section__content-text {
  width: 490px;
  top: 188.22px;
  left: 35px;
  gap: 0px;
  opacity: 0px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}
.section__text {
  margin-top: 9px;
}
.section__img {
  max-width: 531.35px;
  max-height: 383.24px;
  width: 100%;
  border-radius: 5px;
  height: 100%;
}
.section__content-button {
  transition: all 0.5s;
  border: none;
  background: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  background-image: url(../assets/icons/expand.svg);
  padding-left: 32px;
  background-position: left;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: 13px;
}
.header {
  display: none;
}

h2 {
  margin: 0;
  padding: 16px;
  border-top: 1px solid #d9fff5;
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  font-weight: 400;
  color: #7e7e82;
  background: linear-gradient(90deg, #f8f8f8 0%, #ffffff 98.61%);
}
.btn {
  border: 2px solid #ff3e79;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #fff;
  background-image: url(../assets/ic/dropdown.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-box {
  display: block;
}
.swiper--bgc {
  background-color: rgba(246, 244, 244, 0.264);
}
.swiper-wrapper--margin {
  margin-bottom: 40px;
}
.shadow {
  position: absolute;
  background: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
  width: 24px;
  height: 72px;
  top: 0;
  right: 0;
  z-index: 1;
}
.swiper-slide--config {
}
.swiper-slide__content {
  height: 72px;
  width: 100%;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 16px;
}

.grid-box {
  display: none;
  padding: 24px 24px 50px 24px;
}

body {
  margin: 0px;
  font-family: "TT Lakes", sans-serif;
}
button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
ul {
  list-style-type: none;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.btn-menu {
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s;
  border: 1px solid transparent;
}
.btn-menu:hover {
  background-color: #fa6995;
  border: 1px solid #ff3e79;
}
.btn-menu:active {
  transform: scale(0.95);
}
.btn--burger {
  background-image: url(../assets/ic/krestik.svg);
}
.btn--lupa {
  background-image: url(../assets/ic/lupa.svg);
}
.btn--call {
  background-image: url(../assets/ic/call.svg);
}
.btn--chat {
  background-image: url(../assets/ic/chat.svg);
}
.btn--group {
  background-image: url(../assets/ic/Group.svg);
}
.left-menu {
  /* box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2),
    -2px 0 4px 0 rgba(69, 79, 126, 0.02); */
  background: #fff;
  height: 100%;
}
.left-menu-header {
  display: flex;
  align-items: center;
  height: 100px;
  margin-left: 24px;
  margin-right: 24px;
}
.left-menu-header__logo-link {
  margin-left: 16px;
  margin-right: auto;
}
.left-menu-nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  justify-content: center;
  padding-left: 25px;
}
.left-men {
}

.active .hidden {
  display: initial;
}
.left-menu-nav__items {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  height: 24px;
  display: flex;
  align-items: center;
}
.left-menu-nav__items:hover {
  color: #7e7e82;
}
.left-menu-nav__items:hover:before {
  content: "";
  width: 4px;
  height: 40px;
  background-color: #41f6d7;
  border-radius: 2.5px;
  position: absolute;
  left: -2px;
}
.left-menu-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 24px;
  margin-top: 241px;
}
.left-menu-footer {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}
.left-menu-footer__mail {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;

  margin-top: 12px;
}
.left-menu-footer__tel {
  margin-top: 8px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
}
.left-menu-footer-lang-buttons {
  margin-top: 36px;
}
.left-menu-footer-lang-buttons__buttons {
  padding-left: 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
}
.left-menu-footer-lang-buttons__buttons:hover {
  color: #7e7e82;
}
.section__catalog-holder {
  padding: 24px 32px;
}
.box__list {
  display: grid;
  width: 100%;
  gap: 32px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 160px;
}
.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  padding: 16px;
}
.hidden {
  display: none;
}
.box__list.active .box.hidden {
  display: flex;
}
.box .btn {
  margin-left: auto;
}

.box-heading {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  color: #1b1c21;
}

.table-price {
  padding: 0px 32px;
}
.section__table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 16px;
}
.section__table-header {
  padding-left: 24px;
  width: 100%;
}
.section__table-row {
  width: 100%;
  display: grid;
  grid-template-columns: 43.51% 20.5% 18.18% 16%;
}
.section__table-body {
  width: 100%;
  padding: 16px 24px;
  background-color: #fff;
  border-radius: 16px;
}
.section__table-body .section__table-row {
  grid-template-columns: 43.51% 20.5% 18.18% 16%;
  display: grid;
  padding-bottom: 16px;
  padding-top: 16px;
  border-bottom: 1px solid #eaeaea;
}

.section__table-body .section__table-row:first-child {
  padding-top: 0;
}
.section__table-body .section__table-row:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.section__table-btn {
  background: #ff3e79;
  padding: 4px 40px 4px 12px;
  font-family: TT Lakes;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.15000000596046448px;
  text-align: right;
  border-radius: 16px;
  color: #ffffff;
  text-transform: uppercase;
  background-image: url(../assets/ic/dropdownwhite.svg);
  background-repeat: no-repeat;
  background-position: right 11px center;
}
.text {
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  width: 50%;
}

.table-price-link {
  display: flex;
  width: 50%;
  background-image: url(../assets/ic/dropdown.svg);
  background-repeat: no-repeat;
  background-position: right center;
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
}

.footer {
  display: flex;
  border-top: 1px solid #d9fff5;
  justify-content: space-between;
  padding: 32px 32px 22px 32px;
  /* margin-top: 10px; */
  width: 100%;
  align-items: flex-start;
}
.footer-copyright {
  font-family: TT Lakes;
  font-size: 14px;
  color: #7e7e82;
  width: 218px;
  margin: 0;
  text-align: left;
}
.footer-link {
  font-family: TT Lakes;
  font-size: 14px;
  color: #7e7e82;
}
.footer-info {
  font-family: TT Lakes;
  font-size: 14px;
  color: #7e7e82;
  max-width: 330px;
  width: 100%;
  text-align: right;
  margin: 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  width: 100%;
}
.btn--burger {
  display: none;
}
.popup-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  background-color: #ffffffe9;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.popup-overlay.active {
  opacity: 1;
  visibility: visible;
}
.popup.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
  display: flex;
}
.popup-close {
  width: 40px;
  height: 40px;
  background-color: #ff3e79;

  background-image: url(../assets/ic/krestik.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  top: 32px;
  left: -71px;
}
.popup {
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  position: relative;
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 440px;
  gap: 24px;
  height: 100%;
  background-color: #ffffff;
  align-items: flex-start;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 40px;
  margin-left: auto;
  box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2),
    -2px 0 4px 0 rgba(69, 79, 126, 0.02);
  display: none;
}
.popup-heading::after {
  content: "";
  height: 40px;
  width: 3px;
  position: absolute;
  background: #41f6d7;
  border-radius: 2px;
  left: -34px;
  top: -8px;
}
.popup-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}
.popup-heading {
  margin: 0;
  font-family: TT Lakes;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
  color: black;
  margin-bottom: 24px;
  position: relative;
}
.form-input {
  width: 100%;
  padding: 12px 16px;
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  color: #b5b6bc;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  background-color: #fff;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  resize: none;
}
.form-popup-textarea {
  width: 100%;
  min-height: 118px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  background-color: #fff;
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  resize: none;
}

.form-text {
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  color: #7e7e82;
}
.form-popup-link {
  color: #ff3e79;
}
.popup-submit {
  font-family: TT Lakes;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.15000000596046448px;
  text-align: right;
  background-color: #ff3e79;
  border-radius: 16px;
  background-image: url(../assets/ic/dropdownwhite.svg);
  background-repeat: no-repeat;
  background-position: right 18px center;
  color: #ffffff;
  width: 136px;
  height: 32px;
  padding: 4px 40px 4px 12px;
  text-transform: uppercase;
  position: relative;
  right: 0;
  margin-left: auto;
}
.table-swiper {
  display: none;
}
@media (max-width: 1280px) {
  .section__table-btn {
    white-space: nowrap;
  }

  .section__nav {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .section__nav-link {
    white-space: nowrap;
  }
}

@media (min-width: 1120px) {
  .swiper-slide--config {
    flex-basis: 20%;
  }
  /* .swiper-slide--config:nth-child(7),
  .swiper-slide--config:nth-child(8) {
    display: block;
  } */
  /* .swiper-slide--config:nth-child(n + 10) {
    display: none;
  } */
}
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .box__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1023px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    overflow: hidden;
  }
  .header__container {
    display: flex;
    align-items: center;
  }
  .main {
    display: inline;
  }
  .main__aside {
    display: none;
  }
  .section__row-nav {
    display: none;
  }
  .header {
    display: block;
    width: 100%;
    height: 88px;
  }
  .section__row-nav {
    display: none;
  }
  .section__text-desktop {
    display: none;
  }
  .section__text-tablet {
    display: initial;
  }
  .header {
    display: block;
    width: 100%;
    height: 88px;
  }
  .header__container {
    display: flex;
    align-items: center;
  }
  .header__logo-link {
    margin-right: auto;
    position: relative;
    padding-left: 20px;

    padding-top: 23px;
    padding-bottom: 18px;
  }
  .header__nav {
    display: flex;
    gap: 16px;
    margin-right: 0px;
    margin-left: auto;
  }

  .header__burger-btn {
    border: none;
    background: none;
    height: 40px;
    padding: 0;
    background-image: url(../assets/icons/burger.svg);
    width: 40px;
  }
  .section {
    border-top: 1px solid #d9fff5;
  }
  .section__content {
    margin-top: 32px;
  }

  .section__row::before {
    content: "";
    width: 4px;
    height: 100%;
    background-color: #41f6d7;
    border-radius: 2.5px;
    position: absolute;
    left: -33px;
    top: 0;
  }
  .container {
    padding-left: 32px;
    padding-right: 32px;
    overflow: hidden;
  }
  .section__nav {
    flex-wrap: nowrap;
    display: flex;
    height: 40px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    align-items: center;
    gap: 10px;
  }
  .section__nav::-webkit-scrollbar {
    display: none;
  }
  .header__burger-btn {
    cursor: pointer;
  }
  .section__img {
    width: 360px;
    height: 208px;
  }
  .section__content-button {
    margin-top: 10px;
  }
  .section__content-text {
    width: 312px;
  }
  .section__text {
    margin-top: 0px;
  }
  .section__nav::after {
    content: "";
    position: absolute;
    right: 0;
    width: 85px;
    height: 40px;
    background: linear-gradient(90deg, transparent 0%, #f8f8f8 95%);
  }
  .left-menu {
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2),
      -2px 0 4px 0 rgba(69, 79, 126, 0.02);
    position: absolute;
    z-index: 2;
  }
  .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  .left-menu.active + .overlay {
    opacity: 1;
    visibility: visible;
    background-color: #ffffffe6;
  }
  .main__aside {
    display: block;
    width: 100%;
    max-width: 320px;
  }
  .left-menu {
    z-index: 2;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    width: 320px;
  }
  .left-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
  }
  .btn--burger {
    display: initial;
  }
  .footer-copyright {
    width: 100%;
    max-width: 215px;
  }
  .footer-info {
    width: 100%;
    width: 215px;
  }
}
@media (max-width: 767px) {
  .left-menu-nav{
    margin-bottom: 32px;
  }
  .left-menu-buttons {
    margin-top: auto;
  }
  .left-menu{
    margin-bottom: 16px;
    overflow-y: auto;
  }
  .left-menu-buttons {
    margin-top: auto;
  }
  .footer {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 15px;
  }
  .footer-copyright {
    text-align: center;
  }
  .footer-link {
    text-align: center;
  }
  .footer-info {
    text-align: center;
  }
  .table-swiper {
    display: block;
    padding-bottom: 40px;
  }
  .text {
    width: 75%;
    padding-left: 16px;
  }
  .table-price-link {
    width: 75%;
    padding-left: 16px;
  }
  .section__table {
    display: none;
  }
  .section__content {
    flex-direction: column-reverse;
  }
  .section__img {
    width: 100%;
    height: 208px;
  }
  .section__text-tablet {
    width: 100%;
  }
  .section__catalog-swiper {
    display: block;
    width: 100%;
    padding-bottom: 40px;
    background-color: rgba(246, 244, 244, 0.264);
  }
  .section__catalog {
    /* padding-left: 16px; */
  }
  .section__catalog-holder {
    display: none;
  }
  .section__catalog-swiper .box {
    height: 160px;
  }

  .table-slide {
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #eaeaea;
    gap: 10px;
    border-radius: 6px;
    background-color: #fff;
  }
  .swiper {
    padding-left: 16px;
    padding-right: 16px;
  }
  .table-price {
    padding: 0px;
  }
  h4 {
    font-weight: 400;
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: #7e7e82;
  }
  .table-slide-row {
  }
  .table-slow-row-heading {
    margin: 0px;
    padding: 0px;
    padding-bottom: 5px;
  }
  .table-slow-row-text {
    margin: 0px;
    padding: 0px;
  }
  .section__table-btn {
    width: fit-content;
    margin-left: auto;
    position: absolute;
    bottom: 17px;
    right: 17px;
  }
}
@media (max-width: 585px) {
  .header__nav-link:nth-child(-n + 3) {
    display: none;
  }
  .divider__burger {
    display: none;
  }
  .divider__nav {
    display: none;
  }
  .header__logo-link {
    margin-right: 16px;
    padding-left: 8px;
    margin-left: 0px;
    padding-top: 23px;
    padding-bottom: 18px;
  }

  .section__content {
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
  }
  .section__content-text {
    width: 100%;
  }
  .section__img {
    margin: auto;
    max-height: 208px;
    max-width: 360px;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .swiper-box {
    display: none;
  }
  .swiper-slide--config {
    flex-basis: 25%;
  }
  .grid-box {
    display: flex;
    flex-direction: column;
    background-color: rgba(246, 244, 244, 0.264);
  }

  .show-more {
    width: fit-content;
    font-family: TT Lakes;
    transition: all 0.5s;
    border: none;
    background: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    background-image: url(../assets/ic/up.svg);
    padding-left: 16px;
    background-position: left;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: 13px;
  }
  /* .swiper-slide--config:nth-child(n + 7) {
    display: none;
  } */
  .swiper-slide--config--showed {
    display: block !important;
  }

  .show-more--hide {
    background-image: url(../assets/ic/down.svg);
  }
}
@media (max-width: 320px) {
  .header__nav-link:nth-child(-n + 3) {
    display: none;
  }
  .divider__burger {
    display: none;
  }
  .divider__nav {
    display: block;
  }
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__logo-link {
    margin-right: 16px;
    position: relative;
    padding-left: 14px;
    margin-left: 0px;
    padding-top: 23px;
    padding-bottom: 18px;
  }

  .section__row::before {
    content: "";
    width: 4px;
    height: 100%;
    background-color: #41f6d7;
    border-radius: 2.5px;
    position: absolute;
    left: -17px;
    top: 0;
  }
  .section__text-tablet {
    display: none;
  }
  .section__content {
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
  }
  .section__img {
    width: calc(100% + 32px);
    height: 100%;
    margin-left: -16px;
  }
  .section {
    padding-top: 16px;
  }
  .section__text {
    margin-bottom: 0px;
  }
  .section__content-button {
    margin-top: 16px;
  }
  .section__content-text {
    height: auto;
  }
  .popup-close {
    top: 36px;
    left: 270px;
  }
}
