@import url("../assets/fonts/TTLakes/stylesheet.css");
* {
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .btn--burger {
    display: none;
  }
}

@media (max-width: 768px) {
  .left-menu {
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2),
      -2px 0 4px 0 rgba(69, 79, 126, 0.02);
      position: absolute;
    z-index: 2;
  }
}
body {
  margin: 0px;
  font-family: "TT Lakes", sans-serif;
}
button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
ul {
  list-style-type: none;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.btn-menu {
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s;
  border: 1px solid transparent;
}
.btn-menu:hover {
  background-color: #fa6995;
  border: 1px solid #ff3e79;
}
.btn-menu:active {
  transform: scale(0.95);
}
.btn--burger {
  background-image: url(../assets/ic/krestik.svg);
}
.btn--lupa {
  background-image: url(../assets/ic/lupa.svg);
}
.btn--call {
  background-image: url(../assets/ic/call.svg);
}
.btn--chat {
  background-image: url(../assets/ic/chat.svg);
}
.btn--group {
  background-image: url(../assets/ic/Group.svg);
}
.left-menu {
  width: 320px;
  /* box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2),
    -2px 0 4px 0 rgba(69, 79, 126, 0.02); */
  background: #fff;
  height: 100%;
}
.left-menu-header {
  display: flex;
  align-items: center;
  height: 100px;
  margin-left: 24px;
  margin-right: 24px;
}
.left-menu-header__logo-link {
  margin-left: 16px;
  margin-right: auto;
}
.left-menu-nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  justify-content: center;
  padding-left: 25px;
}
.left-men {
}
.left-menu-nav__items {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  height: 24px;
  display: flex;
  align-items: center;
}
.left-menu-nav__items:hover {
  color: #7e7e82;
}
.left-menu-nav__items:hover:before {
  content: "";
  width: 4px;
  height: 40px;
  background-color: #41f6d7;
  border-radius: 2.5px;
  position: absolute;
  left: -2px;
}
.left-menu-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 24px;
  margin-top: 241px;
}
.left-menu-footer {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}
.left-menu-footer__mail {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;

  margin-top: 12px;
}
.left-menu-footer__tel {
  margin-top: 8px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
}
.left-menu-footer-lang-buttons {
  margin-top: 36px;
}
.left-menu-footer-lang-buttons__buttons {
  padding-left: 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
}
.left-menu-footer-lang-buttons__buttons:hover {
  color: #7e7e82;
}
